<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{flow_base::flowLayout(_,~{::main},_)}">

	<main>
		<div class="card shadow">
			<div class="card-header">
				<span class="h3 mb-0 text-gray-800">Add New Flow</span>
			</div>
			<div class="card-body">
				<form th:action="@{/flow/save}" th:object="${flowAndSections}" action="POST">
					<label>Flow name:</label>
					<input class="form-control" type="text" th:value="${flowAndSections.flowName}"/>

					<label>Select Step:</label>
					<select class="form-control dropdown">
						<option th:each="sec : ${flowAndSections.sectionInfos}" th:text="${sec.section.name}" th:value="${sec.section.sectionId}"></option>
					</select>
				</form>

			</div>
		</div>
	</main>

</html>