<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{base::layout(_,~{::main},_,~{::script})}">

	<main>
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Onboarding</h1>
		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')" class="card shadow mb-4">
			<div>
				<h4 class="h4 py-3 ml-3 text-gray-800">Onboarding Flow</h4>
			</div>
			<div class="card-header py-3">
				<a sec:authorize="hasRole('ROLE_ADMIN')" href="/onboarding/flow" class="btn btn-primary px-4">  Add Flow +  </a>
			</div>
		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')" class="card shadow mb-4">
			<div>
				<h4 class="h4 py-3 ml-3 text-gray-800">Sections</h4>
			</div>
			<div class="card-header py-3">
				<a sec:authorize="hasRole('ROLE_ADMIN')" href="/onboarding/section" class="btn btn-primary px-4">  Add Section +  </a>
				<hr/>
				<div>
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead style="background-color: #d3d3d3">
						<tr>
							<th scope="col">ID#</th>
							<th scope="col">Section Name</th>
							<th scope="col">Color</th>
							<th scope="col">Created By</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td colspan="4" class="text-center">
								No records found.
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</main>

	<script th:src="@{~/js/sectionService.js}"></script>

	<script>

		const app = () => {

			const ROLE_ADMIN = "admin";
			const ROLE_USER = "user";
			const roles = [[${#authentication.principal.authorities}]];
			const hasRole = (role) => roles.find( r => r == role)

			const loadInit = () => {
				const fetchAllSections = sectionService().fetchAllSections();

				fetchAllSections.done(function(result) {
					if (result.data) {
						populate(result.data.section);
					}
				});
			}

			const populate = (sectionList) => {
				const table = $("#dataTable");

				if (sectionList && sectionList.length > 0) {
					table.find("tbody").empty();

					sectionList.forEach( section => {
						table.find("tbody").append(
							`
							<tr>
								  <td>${section.sectionId}</td>
								  <td>${section.name}</td>
								  <td>${section.colorDescription}</td>
								  <td>Admin</td>
							</tr>
							`
						);
					});
				}
			}

			return {
				init : loadInit
			}
		}

		window.addEventListener("load", app().init);
	</script>

</html>