<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LMPH - Employee Info</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">LMPH - BE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/employees">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Employees</span></a>
            </li>
            
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/onboarding">
                    <i class="fas fa-fw fa-handshake"></i>
                    <span>Onboarding</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    
					<!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
						<!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.principal.username}"></div>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
					</ul>
					
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h4 class="h4 mb-0 text-gray-800">Section Name: <span id="sectionName"></span></h4>
                    </div>
					
                    <div class="card shadow mb-4">
                        <div class="card-body">
								<div class="p-3 my-3 border">
									<div class="row">
										<form id="subsectionForm" method="post" th:object="${subsectionForm}">
											<input type="hidden" name="sectionId" th:value="${subsectionForm.sectionId}" />
											<input type="hidden" name="subsectionId" th:value="${subsectionForm.subsectionId}" />
											<div class="row mb-3">
												<div class="col-6">
						                        	<h5 class="h5 text-gray">Subsection</h5>
												</div>
						                    </div>
					                    	<div class="row mb-3">
												<div class="form-group col ml-3">
											  		<label for="description" class="form-label">Description</label>
												  	<textarea class="form-control" id="description" name="description" th:value="${subsectionForm.description}" placeholder="Description" rows="3"></textarea>
													<div class="mt-2 text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
												</div>
					                     	</div>
				                            <div class="row mb-3">
												<div class="form-group col ml-3">
											  		<label for="facilitator" class="form-label">Facilitator</label>
												  	<input type="text" class="form-control" id="facilitator" name="facilitator" th:value="${subsectionForm.facilitator}" placeholder="Facilitator"/>
												  	<div class="mt-2 text-danger" th:if="${#fields.hasErrors('facilitator')}" th:errors="*{facilitator}">Facilitator Error</div>
												</div>
													
												<div class="form-group col ml-3">
													<label for="details" class="form-label">Details</label>
											  		<input type="text" class="form-control" id="details" name="details" th:value="${subsectionForm.details}" placeholder="Details"/>
													<div class="mt-2 text-danger" th:if="${#fields.hasErrors('details')}" th:errors="*{details}">Details Error</div>
												</div>
				                            </div>
											<div class="row mb-3">	
												<div class="form-group col ml-3">
												  	<label for="targetDay" class="form-label">Target Day</label>
											  		<input type="text" class="form-control" id="targetDay" name="targetDay" th:value="${subsectionForm.targetDay}" placeholder="Target Day">
													<div class="mt-2 text-danger" th:if="${#fields.hasErrors('targetDay')}" th:errors="*{targetDay}">Target Day Error</div>
												</div>
													
												<div class="form-group col ml-3">
												  	<label for="targetSprint" class="form-label">Target Sprint</label>
											  		<input type="text" class="form-control" id="targetSprint" name="targetSprint" th:value="${subsectionForm.targetSprint}" placeholder="Target Sprint">
													<div class="mt-2 text-danger" th:if="${#fields.hasErrors('targetSprint')}" th:errors="*{targetSprint}">Target Sprint Error</div>
												</div>
											</div>
										</form>
									</div>
									<div class="row">
										<div class="mb-3 ml-3" th:unless="${subsectionForm.subsectionId != null}">
											<div sec:authorize="hasRole('ROLE_ADMIN')">
					                            <button id="btnActionSubmit" class="btn btn-primary px-4 float-right">Add Subsection</button>
				                            </div>
				                        </div>
				                        <div class="mb-3 ml-3" th:if="${subsectionForm.subsectionId != null}">
											<div sec:authorize="hasRole('ROLE_ADMIN')">
					                            <button id="btnActionUpdate" class="btn btn-primary px-4 float-right">Update Subsection</button>
				                            </div>
				                        </div>
									</div>
								</div>
								<hr/>
								<div>
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  										<thead style="background-color: #d3d3d3">
										    <tr>
										      <th scope="col">ID#</th>
										      <th scope="col">Subsection</th>
										      <th scope="col">Facilitator/POC</th>
										      <th scope="col">Details & References</th>
										      <th scope="col">Target Day(s)</th>
										      <th scope="col">Target Sprint(s)</th>
										      <th scope="col">Action</th>
										    </tr>
  										</thead>
  										<tbody>
											<tr>
												<td colspan="7" class="text-center">
													No records found.
												</td>
											</tr>
  										</tbody>
									</table>
								</div>
								<hr/>
                            	<a href="/onboarding/section" class="btn btn-primary px-4 float-right">   Back   </a>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; legalmatch.ph</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
										
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/sectionService.js"></script>
    <script src="/js/subsectionService.js"></script>

	<script>
		const SECTION_ID = "[[${subsectionForm.sectionId}]]";
		const SUBSECTION_ID = "[[${subsectionForm.subsectionId}]]";
		
		const app = () => {
			
			const ROLE_ADMIN = "admin";
			const ROLE_USER = "user";
			const roles = [[${#authentication.principal.authorities}]];	
			const isAdmin = () => roles.find( r => r == ROLE_ADMIN)
			
			const loadInit = () => {
				const fetchSectionBySectionId = sectionService().fetchSectionBySectionId(SECTION_ID);
				fetchSectionBySectionId.done(function(result) {
					if (result.data) {
						populate(result.data.sectionBySectionId);
						
						if (SUBSECTION_ID !== undefined || SUBSECTION_ID !== null) {
							//this is edit perspective
							populateSubsectionForm(result.data.sectionBySectionId, SUBSECTION_ID);
						}
					}
				});	
				
				$('#btnActionSubmit').click( async () => {
					const subsectionForm = document.querySelector('#subsectionForm');
					const result = await subsectionService().upsert(subsectionForm, 0);
					document.location.reload();
				});
				
				$('#btnActionUpdate').click( async () => {
					const subsectionForm = document.querySelector('#subsectionForm');
					const result = await subsectionService().upsert(subsectionForm, SUBSECTION_ID);
					document.location.href="/onboarding/section/" + SECTION_ID + "/subsection";
				});
			}
			
			const populate = (section) => {
				const table = $("#dataTable");
				table.find("tbody").empty();
				$('#sectionName').text(section.name);
				
				section.subsectionList.forEach( subsection => {
					table.find("tbody").append(
						`
						<tr>
					      	<td>${subsection.subsectionId}</td>
					      	<td>${subsection.description}</td>
					      	<td>${subsection.facilitator}</td>
					      	<td>${subsection.details}</td>
					      	<td>${subsection.targetDay}</td>
					     	<td>${subsection.targetSprint}</td>
					     	<td>
								<a sec:authorize="hasRole('ROLE_ADMIN')" href="/onboarding/section/${section.sectionId}/subsection/${subsection.subsectionId}" class="btn btn-primary px-4">Edit</a>
								<button onclick="deleteSubsection('${subsection.subsectionId}')" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary px-4">Delete</button>
							</td>
					    </tr>
						`
					);
				});
			}
			
			const populateSubsectionForm = (section, subsectionId) => {
				const form = $('#subsectionForm');
				const formElement = form.get(0);
				 
				
				section.subsectionList.forEach( subsection => {
					if(subsection.subsectionId === subsectionId) {
						formElement.description.value = subsection.description;
						formElement.facilitator.value = subsection.facilitator;
						formElement.details.value = subsection.details;
						formElement.targetDay.value = subsection.targetDay;
						formElement.targetSprint.value = subsection.targetSprint;  
					 }
				});
			}
		 
			return {
				init : loadInit
			}
		}
		
		const deleteSubsection = (subsectionId) => {
			const result = subsectionService().delete(subsectionId);
			document.location.reload();
		}
		
		window.addEventListener("load", app().init);
		
	</script>

</body>

</html>